
@{
    ViewBag.Title = "Practice Here";
}

<div id="car-journey">
</div>

@Html.Partial("SectionTemplates")

<script type="text/javascript">
    $('#car-journey').append($('#personal-details-section-template').html());
</script>
